* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: poppins, sans-serif;
}

body {
    overflow: hidden;
    background: rgb(0, 0, 0);
    background-size: cover;
}

.myinfo {
    position: relative;
    top: 200px;
    left: 150px;
    width: 500px;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.73);
}
span{
    color: red;
}
.holi {
    color: transparent;
    background-clip: border-box;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-size: 90px;
    font-weight: bold;
}

video {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    /* filter: blur(100px); */
}

.hue {
    color: rgb(240, 81, 2);
    font-weight: bold;
    animation: hue 5s infinite;
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(700deg);
    }
}

@media screen and (max-width: 480px) {
    body {
      rotate: 90deg;
    }
    .myinfo {
        top: -150px;
    }
  }